/* For Mobile */
@media screen and (max-width: 540px){
    .view {
        width: 400px;
    }
}

/* For Tablet */
@media screen and (min-width: 540px) and (max-width: 780px){
    .view {
        width: 600px;
    }
    
}

#responsive-canvas {
    width: 100%;
    height: 47%;
   
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./assets/background.png');
}
