/* For Mobile */
@media screen and (max-width: 540px){
    .view {
        width: 400px;
    }
}

/* For Tablet */
@media screen and (min-width: 540px) and (max-width: 780px){
    .view {
        width: 600px;
    }
    
}
@media screen and (orientation: landscape) {
    html {
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      width: 100vh;
      /* Set content height to viewport width */
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
#responsive-canvas {
    width: 100%;
    height: 47%;
   
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./assets/background.png');
}
